<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="font/iconfont.css" rel="stylesheet" type="text/css">
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="font/iconfont.css">
</head>
<body>
<style>

    .bs-example {
        margin-left: 8px;
        margin-right: 8px;
        margin-top: 20px;
        border: 1px #dedede solid;
        padding: 30px;
        /* height: 600px;
         overflow: scroll;*/
    }
    .breadcrumb {
        margin-top: 20px;
        font-size: 12px;
        color: #888;
    }
    .iconfont{
        float: left;
        margin-left: 10px;
        font-size: 24px;
    }
    .iconfont:hover{
        color: #0491d2;
    }
</style>
<div class="container bs-docs-container">
    <div class="row">
        <div class="col-md-9">
            <ul class="nav nav-tabs">
                <li role="presentation"><a href="index.html">首页</a></li>
                <li role="presentation"><a href="stuimg.html">学生信息</a></li>
                <li role="presentation" class="active"><a href="shiti.html">试题库</a></li>
                <li role="presentation"><a href="new_sai.html">赛前准备</a></li>
                <li role="presentation"><a href=" xianzhuang.html">比赛实况</a></li>
                <li role="presentation"><a href="history.html">历史比赛</a></li>
                <li role="presentation"><a href="paiming.html">排名单</a></li>
            </ul>
           <!-- <include file="Public/header" />-->
            <div class="breadcrumb">当前位置 &nbsp;&nbsp; 比赛试题>>词语接龙比赛>>添加比赛内容 </div>
            <div class="bs-example" data-example-id="basic-forms">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">请添加第一个需要接龙的词语</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="请输入相关信息" >
                    </div>
                    <div class="hr-line-dashed"></div>
                    <button type="submit" class="btn btn-danger"  style="pointer-events: auto;">保存</button>
                </form>
            </div>

        </div>

    </div>
</div>

</body>
</html>