<ul class="nav nav-tabs">
    <li role="presentation"><a href="index.html">首页</a></li>
    <li role="presentation"><a href="stuimg.html">学生信息</a></li>
    <!--<li role="presentation" class="active"><a href="shiti.html">试题库</a></li>-->
    <li role="presentation"><a href="new_sai.html">赛前准备</a></li>
    <li role="presentation"><a href=" xianzhuang.html">比赛实况</a></li>
    <li role="presentation"><a href="history.html">比赛成绩查询</a></li>
<!--    <li role="presentation"><a href="paiming.html">排名单</a></li>-->
</ul>