<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>排名</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="font/iconfont.css" rel="stylesheet" type="text/css">
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<body>
<style>
    .dropdown-toggle:hover{
        color: #0f0f0f;
        list-style: none;
    }

    .dropdown a{
        color: #0f0f0f;
    }
    .hr-line-dashed {
        margin: 17px 0;
        margin-top: 60px;
    }
    .form-control {
        height: 28px;
        padding: 2px 12px;
    }
    .sda {
        z-index: 100;
        width: 202px;
        background: rgb(255, 255, 255);
        box-shadow: rgb(177, 169, 169) 0px 0px 2px 0px;
        position: absolute;
        margin-top: -3px;
        visibility: hidden;
    }
    .sda p{
        font-size: 14px;
        line-height: 10px;
    }
    .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
        padding: 8px;
        line-height: 2.3;
        vertical-align: top;
        border-top: 1px solid #ddd;
    }
    .btn {
        display: inline-block;
        padding: 2px 11px;
    }
    .bs-example {
        margin-left: 8px;
        margin-right: 8px;
        border: 1px #dedede solid;
        padding: 30px;
        margin: auto;
        margin-top: 40px;
    }
</style>
<div class="container bs-docs-container">
    <div class="row">
        <div class="col-md-9">
            <ul class="nav nav-tabs">
                <li role="presentation"><a href="index.html">首页</a></li>
                <li role="presentation"><a href="stuimg.html">学生信息</a></li>
                <!--<li role="presentation" class="active"><a href="shiti.html">试题库</a></li>-->
                <li role="presentation"><a href="new_sai.html">赛前准备</a></li>
                <li role="presentation"><a href=" xianzhuang.html">比赛实况</a></li>
                <li role="presentation" class="active"><a href="history.html">比赛成绩查询</a></li>
                <!--   <li role="presentation"><a href="paiming.html">排名单</a></li>-->
            </ul>
            <div class="bs-example" data-example-id="contextual-table">
                <div style="">
                    <li class="dropdown" style="float: right;margin-right: 2px;top: 20px;">
                        <a id="drp1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            操作
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="drop1" style="z-index: 999;">
                            <li><a href="#">打印成绩排名单</a></li>
                        </ul>
                    </li>
                </div>
                <div class="hr-line-dashed"></div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>排名</th>
                        <th>姓名</th>
                        <th>汉字输入</th>
                        <th>词语接龙</th>
                        <th>生僻字查询</th>
                        <th>偏旁组词</th>
                        <th>看图写作</th>
                        <th>总分</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="active">
                        <th>1</th>
                        <td><div id="menu1" onmouseover="mshow(this);" onmouseout="mhidden(this);">张三</div>
                            <div id="submenu1" class="sda" ;onmouseover="this.style.visibility='visible';">
                                <div style="padding: 10px">
                                    <p>ID：45646152312</p>
                                    <p>学校：陇海一小</p>
                                    <p>班级：一年级一班</p>
                                    <p>指导员：张三</p>
                                    <p>指导员手机号：13333333333</p>
                                </div>
                            </div></td>
                        <td>85分<a href="score_inform.html" style="color: #1b6d85">详情</a></td>
                        <td>85分<a href="score_ciyu.html" style="color: #1b6d85">详情</a></td>
                        <td>85分<a href="score_pinyin.html" style="color: #1b6d85">详情</a></td>
                        <td>85分<a href="score_pp.html" style="color: #1b6d85">详情</a></td>
                        <td>85分<a href="score_kantu.html" style="color: #1b6d85">详情</a></td>
                        <td>425分</td>
                    </tr>
                    <tr>
                        <th>2</th>
                        <td><div id="menu2" onmouseover="mshow(this);" onmouseout="mhidden(this);">张三</div>
                            <div id="submenu2" class="sda" ;onmouseover="this.style.visibility='visible';">
                                <div style="padding: 10px">
                                    <p>ID：45646152312</p>
                                    <p>学校：陇海一小</p>
                                    <p>班级：一年级一班</p>
                                    <p>指导员：张三</p>
                                    <p>指导员手机号：13333333333</p>
                                </div>
                            </div></td>
                        <td>85分<a href="score_inform.html" style="color: #1b6d85">详情</a></td>
                        <td>85分<a href="score_ciyu.html" style="color: #1b6d85">详情</a></td>
                        <td>85分<a href="score_pinyin.html" style="color: #1b6d85">详情</a></td>
                        <td>85分<a href="score_pp.html" style="color: #1b6d85">详情</a></td>
                        <td>85分<a href="score_kantu.html" style="color: #1b6d85">详情</a></td>
                        <td>425分</td>
                    </tr>
                    <tr class="success">
                        <th>3</th>
                        <td><div id="menu3" onmouseover="mshow(this);" onmouseout="mhidden(this);">张三</div>
                            <div id="submenu3" class="sda" ;onmouseover="this.style.visibility='visible';">
                                <div style="padding: 10px">
                                    <p>ID：45646152312</p>
                                    <p>学校：陇海一小</p>
                                    <p>班级：一年级一班</p>
                                    <p>指导员：张三</p>
                                    <p>指导员手机号：13333333333</p>
                                </div>
                            </div></td>
                        <td>85分<a href="score_inform.html" style="color: #1b6d85">详情</a></td>
                        <td>85分<a href="score_ciyu.html" style="color: #1b6d85">详情</a></td>
                        <td>85分<a href="score_pinyin.html" style="color: #1b6d85">详情</a></td>
                        <td>85分<a href="score_pp.html" style="color: #1b6d85">详情</a></td>
                        <td>85分<a href="score_kantu.html" style="color: #1b6d85">详情</a></td>
                        <td>425分</td>
                    </tr>
                    <tr>
                        <th>4</th>
                        <td><div id="menu4" onmouseover="mshow(this);" onmouseout="mhidden(this);">张三</div>
                            <div id="submenu4" class="sda" ;onmouseover="this.style.visibility='visible';">
                                <div style="padding: 10px">
                                    <p>ID：45646152312</p>
                                    <p>学校：陇海一小</p>
                                    <p>班级：一年级一班</p>
                                    <p>指导员：张三</p>
                                    <p>指导员手机号：13333333333</p>
                                </div>
                            </div></td>
                        <td>85分<a href="score_inform.html" style="color: #1b6d85">详情</a></td>
                        <td>85分<a href="score_ciyu.html" style="color: #1b6d85">详情</a></td>
                        <td>85分<a href="score_pinyin.html" style="color: #1b6d85">详情</a></td>
                        <td>85分<a href="score_pp.html" style="color: #1b6d85">详情</a></td>
                        <td>85分<a href="score_kantu.html" style="color: #1b6d85">详情</a></td>
                        <td>425分</td>
                    </tr>
                    <tr class="info">
                        <th>5</th>
                        <td><div id="menu5" onmouseover="mshow(this);" onmouseout="mhidden(this);">张三</div>
                            <div id="submenu5" class="sda" ;onmouseover="this.style.visibility='visible';">
                                <div style="padding: 10px">
                                    <p>ID：45646152312</p>
                                    <p>学校：陇海一小</p>
                                    <p>班级：一年级一班</p>
                                    <p>指导员：张三</p>
                                    <p>指导员手机号：13333333333</p>
                                </div>
                            </div></td>
                        <td>85分<a href="score_inform.html" style="color: #1b6d85">详情</a></td>
                        <td>85分<a href="score_ciyu.html" style="color: #1b6d85">详情</a></td>
                        <td>85分<a href="score_pinyin.html" style="color: #1b6d85">详情</a></td>
                        <td>85分<a href="score_pp.html" style="color: #1b6d85">详情</a></td>
                        <td>85分<a href="score_kantu.html" style="color: #1b6d85">详情</a></td>
                        <td>425分</td>
                    </tr>
                    <tr>
                        <th>6</th>
                        <td><div id="menu6" onmouseover="mshow(this);" onmouseout="mhidden(this);">张三</div>
                            <div id="submenu6" class="sda" ;onmouseover="this.style.visibility='visible';">
                                <div style="padding: 10px">
                                    <p>ID：45646152312</p>
                                    <p>学校：陇海一小</p>
                                    <p>班级：一年级一班</p>
                                    <p>指导员：张三</p>
                                    <p>指导员手机号：13333333333</p>
                                </div>
                        <td>85分<a href="score_inform.html" style="color: #1b6d85">详情</a></td>
                        <td>85分<a href="score_ciyu.html" style="color: #1b6d85">详情</a></td>
                        <td>85分<a href="score_pinyin.html" style="color: #1b6d85">详情</a></td>
                        <td>85分<a href="score_pp.html" style="color: #1b6d85">详情</a></td>
                        <td>85分<a href="score_kantu.html" style="color: #1b6d85">详情</a></td>
                        <td>425分</td>
                    </tr>
                    <tr class="warning">
                        <th>7</th>
                        <td><div id="menu7" onmouseover="mshow(this);" onmouseout="mhidden(this);">张三</div>
                            <div id="submenu7" class="sda" ;onmouseover="this.style.visibility='visible';">
                                <div style="padding: 10px">
                                    <p>ID：45646152312</p>
                                    <p>学校：陇海一小</p>
                                    <p>班级：一年级一班</p>
                                    <p>指导员：张三</p>
                                    <p>指导员手机号：13333333333</p>
                                </div>
                            </div></td>
                        <td>85分<a href="score_inform.html" style="color: #1b6d85">详情</a></td>
                        <td>85分<a href="score_ciyu.html" style="color: #1b6d85">详情</a></td>
                        <td>85分<a href="score_pinyin.html" style="color: #1b6d85">详情</a></td>
                        <td>85分<a href="score_pp.html" style="color: #1b6d85">详情</a></td>
                        <td>85分<a href="score_kantu.html" style="color: #1b6d85">详情</a></td>
                        <td>425分</td>
                    </tr>
                    <tr>
                        <th>8</th>
                        <td><div id="menu8" onmouseover="mshow(this);" onmouseout="mhidden(this);">张三</div>
                            <div id="submenu8" class="sda" ;onmouseover="this.style.visibility='visible';">
                                <div style="padding: 10px">
                                    <p>ID：45646152312</p>
                                    <p>学校：陇海一小</p>
                                    <p>班级：一年级一班</p>
                                    <p>指导员：张三</p>
                                    <p>指导员手机号：13333333333</p>
                                </div>
                            </div></td>
                        <td>85分<a href="score_inform.html" style="color: #1b6d85">详情</a></td>
                        <td>85分<a href="score_ciyu.html" style="color: #1b6d85">详情</a></td>
                        <td>85分<a href="score_pinyin.html" style="color: #1b6d85">详情</a></td>
                        <td>85分<a href="score_pp.html" style="color: #1b6d85">详情</a></td>
                        <td>85分<a href="score_kantu.html" style="color: #1b6d85">详情</a></td>
                        <td>425分</td>
                    </tr>
                    <tr class="danger">
                        <th>9</th>
                        <td><div id="menu9" onmouseover="mshow(this);" onmouseout="mhidden(this);">张三</div>
                            <div id="submenu9" class="sda" ;onmouseover="this.style.visibility='visible';">
                                <div style="padding: 10px">
                                    <p>ID：45646152312</p>
                                    <p>学校：陇海一小</p>
                                    <p>班级：一年级一班</p>
                                    <p>指导员：张三</p>
                                    <p>指导员手机号：13333333333</p>
                                </div>
                            </div></td>
                        <td>85分<a href="score_inform.html" style="color: #1b6d85">详情</a></td>
                        <td>85分<a href="score_ciyu.html" style="color: #1b6d85">详情</a></td>
                        <td>85分<a href="score_pinyin.html" style="color: #1b6d85">详情</a></td>
                        <td>85分<a href="score_pp.html" style="color: #1b6d85">详情</a></td>
                        <td>85分<a href="score_kantu.html" style="color: #1b6d85">详情</a></td>
                        <td>425分</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
</body>
</html>