<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="font/iconfont.css">
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<body>
<style>
    .dropdown-toggle:hover{
        color: #0f0f0f;
        list-style: none;
    }
    .bs-example {
        margin-left: 8px;
        margin-right: 8px;
        border: 1px #dedede solid;
        padding: 9px;
        margin: auto;
        margin-top: 40px;
    }
    .baifen{
        width: 100%;
    }
    .dropdown a{
        color: #0f0f0f;
    }
    .hr-line-dashed {
        margin: 17px 0;
    }
    .form-control {
        height: 28px;
        padding: 2px 12px;
    }
</style>
<div class="container bs-docs-container">
    <div class="row">
        <div class="col-md-9">
            <ul class="nav nav-tabs">
                <li role="presentation"><a href="index.html">首页</a></li>
                <li role="presentation"><a href="stuimg.html">学生信息</a></li>
                <!--<li role="presentation" class="active"><a href="shiti.html">试题库</a></li>-->
                <li role="presentation"><a href="new_sai.html">赛前准备</a></li>
                <li role="presentation"><a href=" xianzhuang.html">比赛实况</a></li>
                <li role="presentation" class="active"><a href="history.html">比赛成绩查询</a></li>
                <!--    <li role="presentation"><a href="paiming.html">排名单</a></li>-->
            </ul>
            <div class="bs-example" data-example-id="basic-forms">
            <div class="breadcrumb">当前位置 &nbsp;&nbsp; 比赛实况>>看图写作比赛>>详情 </div>
            <div class="hr-line-dashed"></div>

            <div class="bs-example baifen" data-example-id="contextual-table">
                <P>具体详情</P>
                <div class="dasd">
                    <form id="" action="#" method="post" enctype="application/x-www-form-urlencoded">
                        <div id="info">
                            <input type="hidden" name="nfab371ce3cdc67d5" id="name" value="游客30213506">
                            <input type="hidden" name="nc8cbc85f4f1bad50" id="type" value="cn">
                            <input type="hidden" name="n1c0198eea07fc450" id="time" value="5">
                            <input type="hidden" name="nc2b56781724d7aee" id="group_id" value="0">
                            <input type="hidden" name="nc2126398e886e373" value="1">
                            <input type="hidden" name="nf16ad8ecdf643b76" value="1">
                            <input type="hidden" name="n66462da1a2b70b2c" value="0">
                            <input type="hidden" name="nfa3aab09e5019425" id="nfa3aab09e5019425" value="">
                            <input type="hidden" id="word_num" value="1067">
                            <input type="hidden" id="head_img" value="1">
                            <input type="hidden" name="t" value="97bc25fd00977c4740e52990bb7c3834">
                            <input type="hidden" name="n3ae1cdea5d70cefe" id="ssid" value="ggup3jhfppmhmfl20vkg390nf5">
                            <input type="hidden" name="start_page" id="start_page" value="2018-01-17 16:00:06">
                        </div>

                        <div style="overflow: hidden;margin-left: 10px;">
                            <div style="width: 40%;float: left;">
                                <img src="img/123.jpg" width="100%">
                            </div>
                            <div style="width: 58%;float: left;">

                                <div class="form-group">
                                    <label for="exampleInputEmail1">文章标题</label>
                                    <input style="width: 90%;margin: auto" type="text" class="form-control" id="exampleInputEmail1" value="春节">
                                    <div class="pj_zw" style="margin-top: 25px">作文分数：
                                        <span class="pj_zw_f">85</span> 分
                                    </div>
                                    <div class="pj_zw">评价：
                                        <span class="pj_zw_pj">词雅文练，写景生动。布局新颖，用词简达。</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                    <div>
                        <div id="group_typing_info" class="group_typing_info">
                            文章名称：
                            <strong>春节</strong>，类别：
                            <strong>中文</strong>，设定时间：
                            <strong>5分钟</strong>。
                        </div>
                        <textarea style="width: 98.8%;margin: auto;height: 400px">    噼噼啪啪，噼噼啪啪。早晨，我的老家响起了一阵阵熟悉的爆竹声。大人们忙起来了，小孩也乐起来了，因为这是过年的前夕。
　　明天就要过年了，大人们忙的不可开交，跑上跑下。我们小孩也不能闲着，要在家里大扫除。这不，大家伙举着扫把，拿起拖把干了起来。虽然忙地上气不接下气，但每个人的脸上还是洋溢着笑容。
　　包鱼丸、肉丸喽！不知谁在家里喊了一句，小孩立刻动起身来了，搬过一张凳子往一个大水盆一围，几乎是挤得连蚊子都进不去。
　　杀鸡的血腥叫人不敢正视。挣扎着的鸡使劲抖动着，想从奶奶手里脱开，可还是没有躲过成为下酒菜的最终结果。
　　终于到除夕了，到处都万象更新、喜气洋洋的。小孩和大人都换上了新的衣服，穿上新的鞋子。门外贴上红红的对联，还有避邪的门神。
　　当天我们的第一件事就是去敬神。爸爸提着一篮食物，和爷爷还有叔叔带着我们几个小孩一起到庙里去敬神。篮子里的食物散发着一股股香气，有一只烤鸡、一条烧鱼，还有几块豆腐、一碗酒和各种水果。
　　一路上我都盯着这些，恨不得一口气全吃了，可是爷爷却说要敬完神才能吃。还没到那里，就听到一阵阵爆竹声、烟花声。好像就在眼前一般，没想到走了好一会儿才到。
　　刚跨进门，震耳欲聋的爆竹声就涌了过来，我只能捂住耳朵了，这时，爷爷走了过来给我几柱香还对我说待会敬神时不能指牌位，要不然会不吉利。我只好学着爷爷的样子恭恭敬敬鞠了三躬便走开了。
　　除此之外，除夕这天还有许多不能做的事情，比如说不能扫地、不能吃霉豆腐、不能用煤气做饭，这样不吉利。
　　正因为我们的春节有这么多的风俗，大家才能过的不亦乐乎。
六年级:易榕菁</textarea>
                        <input type="button" class="btn btn-danger" style="width: 10%;margin-top: 30px;float: right;" onclick="rec()" value="打印">
                    </div>
                </div>
            </div>
            </div>
        </div>

    </div>
</div>


</body>
</html>

