<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>汉字输入比赛详情</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="font/iconfont.css" rel="stylesheet" type="text/css">
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<body>
<style>
    .dropdown-toggle:hover{
        color: #0f0f0f;
        list-style: none;
    }
    .dropdown a{
        color: #0f0f0f;
    }
    .bs-example {
        margin-left: 8px;
        margin-right: 8px;
        border: 1px #dedede solid;
        padding: 9px;
        margin: auto;
        margin-top: 40px;
    }
    .hr-line-dashed {
        margin: 17px 0;
    }
    .form-control {
        height: 28px;
        padding: 2px 12px;
    }
    .baifen{
        width: 100%;
    }
</style>
<div class="container bs-docs-container">
    <div class="row">
        <div class="col-md-9">
            <ul class="nav nav-tabs">
                <li role="presentation"><a href="index.html">首页</a></li>
                <li role="presentation"><a href="stuimg.html">学生信息</a></li>
                <!--<li role="presentation" class="active"><a href="shiti.html">试题库</a></li>-->
                <li role="presentation"><a href="new_sai.html">赛前准备</a></li>
                <li role="presentation"><a href=" xianzhuang.html">比赛实况</a></li>
                <li role="presentation" class="active"><a href="history.html">比赛成绩查询</a></li>
                <!--    <li role="presentation"><a href="paiming.html">排名单</a></li>-->
            </ul>
            <div class="bs-example" data-example-id="basic-forms">
            <div class="breadcrumb">当前位置 &nbsp;&nbsp; 比赛实况>>汉字输入比赛>>详情 </div>
            <div class="hr-line-dashed"></div>
            <div class="bs-example baifen" data-example-id="contextual-table" >
                成绩总览
                <table class="table">
                    <thead>
                    <tr>
                        <th>总字数</th>
                        <th>完成</th>
                        <th>正确</th>
                        <th>错误</th>
                        <th>正确率</th>
                        <th>打字速度</th>
                        <th>个人成绩</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="active">
                        <th>123456</th>
                        <td>34568</td>
                        <td>34566</td>
                        <td>2</td>
                        <td>99%</td>
                        <td>132/分 </td>
                        <td>85分 </td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <div class="hr-line-dashed"></div>

            <div id="content">



                <div id="i_0" class="typing">
                    <div class="text">
                        <span>冰灯是流行于中国北方的一种古老的民间艺术形式。因为独特的地域优势，黑龙江可以说是制作冰灯最早的地方。</span>
                    </div>
                    <input type="hidden" value="冰灯是流行于中国北方的一种古老的民间艺术形式。因为独特的地域优势，黑龙江可以说是制作冰灯最早的地方。" />
                    <p class="typing">
                        冰灯是流行于<span class="flase">中</span>国北方的一种古老的民间艺术形式。因为独特的地域优势，黑龙江可以说是制作冰灯最早的地方。
                    </p>
                </div>
            </div>
            </div>
        </div>

    </div>
</div>


</body>
</html>