<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="font/iconfont.css" rel="stylesheet" type="text/css">
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<body>
<style>
    .dropdown-toggle:hover{
        color: #0f0f0f;
        list-style: none;
    }
    .bs-example{
        margin-left: 15px;
        margin-right: 15px;
        margin-right: 15px;
    }
    .dropdown a{
        color: #0f0f0f;
    }
    .hr-line-dashed {
        margin: 17px 0;
        margin-top: 60px;
    }
</style>
<div class="container bs-docs-container">
    <div class="row">
        <div class="col-md-9">
            <ul class="nav nav-tabs">
                <li role="presentation"><a href="index.html">首页</a></li>
                <li role="presentation"><a href="stuimg.html">学生信息</a></li>
                <li role="presentation" class="active"><a href="shiti.html">试题库</a></li>
                <li role="presentation"><a href="new_sai.html">开始新一轮比赛</a></li>
                <li role="presentation"><a href=" xianzhuang.html">比赛现状</a></li>
                <li role="presentation"><a href="history.html">历史比赛</a></li>
                <li role="presentation"><a href="paiming.html">排名单</a></li>
            </ul>

            <div class="hr-line-dashed"></div>
            <div class="row" style="padding-left: 11px;padding-top: 26px">
                <div class="col-xs-6 col-sm-3">
                    <a href="add_st_hanzi.html">
                        <img src="img/231.jpg" style="width: 100%">
                    </a>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <a href="add_st_ciyu.html">
                        <img src="img/231.jpg" style="width: 100%">
                    </a>
                </div>
                <div class="clearfix visible-xs-block"></div>
                <div class="col-xs-6 col-sm-3">
                    <a href="add_st_pinyin.html">
                        <img src="img/231.jpg" style="width: 100%">
                    </a>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <a href="add_st_pianp.html">
                        <img src="img/231.jpg" style="width: 100%">
                    </a>
                </div>
            </div>
            <div class="row" style="padding-left: 11px;padding-top: 26px">
                <div class="col-xs-6 col-sm-3">
                <a href="add_st_kantu.html">
                    <img src="img/231.jpg" style="width: 100%">
                </a>
            </div>
            </div>
        </div>

    </div>
</div>


</body>
</html>